<div class="game-information">
    <span *ngIf="result"
          class="result">
          You {{ resultEnum[result] }} the game
    </span>
    <span *ngIf="(boomsAround$ | async) || (smileysAround$ | async)"
          class="surrounding-information">
        There are {{ boomsAround$ | async }} booms and {{ smileysAround$ | async }} smileys around selected cell
    </span>
    <div *ngIf="!result"
         class="game-progress">
        <div>Number of consecutive booms {{ consecutiveBooms$ | async }}</div>
        <div>Number of consecutive smileys {{ consecutiveSmileys$ | async }}</div>
    </div>
</div>
