<section class="game">
    <span *ngIf="(bombsAround$ | async) || (smileysAround$ | async)">
        There are {{ bombsAround$ | async }} bombs and {{ smileysAround$ | async }} smileys around selected cell
    </span>
    <span *ngIf="result">You {{ resultEnum[result] }} the game</span>
    <button (click)="startNewGame()">New Game</button>
    <app-board *ngIf="(isInProgress$ | async) || (isFinished$ | async)"></app-board>
    <div class="game-information">
        <span>Wins: {{ wins$ | async }}</span>
        <span>Losses: {{ losses$ | async }} </span>
    </div>
</section>