.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #698ef9;
    border: 1px solid #000;
    min-height: calc(100vh - 4rem);
}
