<section class="game">
    <div class="game-header">
        <div>
            <h1>{{ title }}</h1>
            <button (click)="startNewGame()">New Game</button>
            <div>
                <span>Wins: {{ wins$ | async }} Losses: {{ losses$ | async }}</span>
            </div>
        </div>
        <app-game-information *ngIf="(isInProgress$ | async) || (isFinished$ | async)"
                              class="game-information">
        </app-game-information>
    </div>
    <app-board *ngIf="(isInProgress$ | async) || (isFinished$ | async)"
               class="board">
    </app-board>
</section>
