.game {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .game-header {
        display: grid;
        grid-template-columns: auto auto;
        color: #fff;
        width: 100%;
    }
}
